# Configuration file

barrels {
    # Enable or disable the standard Barrel. [default: true]
    B:enableBarrel=true

    # Enable or disable the Diamond Barrel. [default: true]
    B:enableDiamondBarrel=true

    # Enable or disable the Gold Barrel. [default: true]
    B:enableGoldBarrel=true

    # Enable or disable the Iron Barrel. [default: true]
    B:enableIronBarrel=true

    # Enable or disable the Netherite Barrel. [default: true]
    B:enableNetheriteBarrel=true

    # Enable or disable the Obsidian Barrel. [default: true]
    B:enableObsidianBarrel=true
}


upgrades {
    # Enable or disable Diamond to Netherite upgrade. [default: true]
    B:enableDiamondToNetheriteUpgrade=true

    # Enable or disable Diamond to Obsidian upgrade. [default: true]
    B:enableDiamondToObsidianUpgrade=true

    # Enable or disable Gold to Diamond upgrade. [default: true]
    B:enableGoldToDiamondUpgrade=true

    # Enable or disable Iron to Gold upgrade. [default: true]
    B:enableIronToGoldUpgrade=true

    # Enable or disable Obsidian to Netherite upgrade. [default: true]
    B:enableObsidianToNetheriteUpgrade=true

    # Enable or disable Wood to Iron upgrade. [default: true]
    B:enableWoodToIronUpgrade=true
}


