# Configuration file

attributes {
    D:baseArmor=8.0
    D:baseArmorToughness=30.0
    D:baseDamage=12.0
    D:baseHealth=90.0
    D:baseKnockbackResistance=10.0
    D:baseFollowRange=70.0
    D:baseMovementSpeed=0.4
    D:baseFlyingSpeed=0.5
    D:baseSwimmingSpeed=5.0
    D:baseBodySize=1.0
    D:baseStepHeight=1.25
}


client {
    # Zoom out for third person view while riding dragons or carriages.
    D:cameraDistance=20.0

    # Whether to open your mount's inventory instead of yours.
    B:redirectInventory=true

    # Whether to try to pause the game when using whistle.
    B:pauseOnWhistle=true
}


debug {
    B:debugMode=false
    B:enableDebugOverlay=false
}


gameplay {
    # Whether to rename dragon when renaming amulet.
    B:forcedRename=false

    # Whether interaction hook about vanilla dragon egg is enabled.
    B:blockOverride=true
    I:reproductionLimit=3

    # Whether dragon eggs will be converted to another type to adapt to the environment.
    B:adaptiveConversion=true

    # Whether dragon breath has side effects when hits blocks.
    B:breathEffects=true

    # Whether airflow-like dragon breath can destroy the hit blocks.
    B:destructiveBreath=true

    # Whether fire-like dragon breath can ignite the hit blocks.
    B:ignitingBreath=true

    # Whether fire-like dragon breath can smelt the hit blocks.
    B:smeltingBreath=false

    # Whether blizzard-like dragon breath can leave snow on ground.
    B:frostyBreath=true

    # Whether mist-like dragon breath can put out fire and solidify lava.
    B:quenchingBreath=true
}


world_gen {
    # Whether the limited dimension list is an allow list or a block list.
    B:toggleDimensionLimitation=false

    # Limited dimension list on dragon nest generation.
    I:limitedDimensions <
     >

    # Determines how rare Forest Plains dragon nests will mainly spawn. I did this because the forest biome is too common thus making the forest breed to common. Higher numbers = higher rarity (in other words  how many blocks for another nest to spawn), (Note: Expermiment on a new world when editing these numbers because it may cause damages to your own worlds)
    I:"Forest Nest Rarity"=220

    # Determines how rare sunlight dragon temples will mainly spawn. Higher numbers = higher rarity (in other words  how many blocks for another nest to spawn), (Note: Expermiment on a new world when editing these numbers because it may cause damages to your own worlds)
    I:"Sunlight Nest Rarity"=60

    # Determines how rare terra dragon nests will mainly spawn. Higher numbers = higher rarity (in other words  how many blocks for another nest to spawn), (Note: Expermiment on a new world when editing these numbers because it may cause damages to your own worlds)
    I:"Terra Nest Rarity"=220

    # Determines how rare moonlight or aether dragon temples will spawn above the ocean. Higher numbers = higher rarity (in other words  how many blocks for another nest to spawn), (Note: Expermiment on a new world when editing these numbers because it may cause damages to your own worlds)
    I:"Ocean Nest Rarity"=8000

    # Determines how rare forest jungnle dragon nests will mainly spawn. Higher numbers = higher rarity (in other words  how many blocks for another nest to spawn), (Note: Expermiment on a new world when editing these numbers because it may cause damages to your own worlds)
    I:"Jungle Nest Rarity"=800

    # Determines how rare water dragon nests will mainly spawn. Higher numbers = higher rarity (in other words  how many blocks for another nest to spawn), (Note: Expermiment on a new world when editing these numbers because it may cause damages to your own worlds)
    I:"Water Nest Rarity"=180

    # Determines how rare ice dragon nests will mainly spawn. Higher numbers = higher rarity (in other words  how many blocks for another nest to spawn), (Note: Expermiment on a new world when editing these numbers because it may cause damages to your own worlds)
    I:"Ice Nest Rarity"=200

    # Determines how rare fire dragon nests will mainly spawn. Higher numbers = higher rarity (in other words  how many blocks for another nest to spawn), (Note: Expermiment on a new world when editing these numbers because it may cause damages to your own worlds)
    I:"Fire Nest Rarity"=150

    # Determines how rare forest enchant dragon nests will mainly spawn. Higher numbers = higher rarity (in other words  how many blocks for another nest to spawn), (Note: Expermiment on a new world when editing these numbers because it may cause damages to your own worlds)
    I:"Enchant Nest Rarity"=300

    # Determines how rare nether nests will mainly spawn. Higher numbers = higher rarity (in other words  how many blocks for another nest to spawn)(Note: Expermiment on a new world when editing these numbers because it may cause damages to your own worlds)
    I:"Nether Nest Chance"=200

    # Determines how rare nether nests will spawn in the X Axis. Higher numbers = higher rarity (in other words  how many blocks for another nest to spawn)(Note: Expermiment on a new world when editing these numbers because it may cause damages to your own worlds)
    I:"2 Nether Nest Rarity X"=16

    # Determines how rare nether nests will spawn in the Z Axis. Higher numbers = higher rarity (in other words  how many blocks for another nest to spawn)(Note: Expermiment on a new world when editing these numbers because it may cause damages to your own worlds)
    I:"2 Nest Nether Rarity Z"=16
}


