[general]
# enabled (default: true)
enabled = true
# enableInThirdPerson (default: true)
enableInThirdPerson = true
# turningRollAccumulation (default: 1.0)
turningRollAccumulation = 1.0
# turningRollIntensity (default: 1.25)
turningRollIntensity = 1.25
# turningRollSmoothing (default: 1.0)
turningRollSmoothing = 1.0
# cameraSwayIntensity (default: 0.6)
cameraSwayIntensity = 0.6
# cameraSwayFrequency (default: 0.16)
cameraSwayFrequency = 0.16
# cameraSwayFadeInDelay (default: 0.15)
cameraSwayFadeInDelay = 0.15
# cameraSwayFadeInLength (default: 5.0)
cameraSwayFadeInLength = 5.0
# cameraSwayFadeOutLength (default: 0.75)
cameraSwayFadeOutLength = 0.75
# screenShakesMaxIntensity (default: 2.5)
screenShakesMaxIntensity = 2.5
# screenShakesMaxFrequency (default: 6.0)
screenShakesMaxFrequency = 6.0
# explosionTrauma (default: 1.0)
explosionTrauma = 1.0
# thunderTrauma (default: 0.05)
thunderTrauma = 0.05
# handSwingTrauma (default: 0.03)
handSwingTrauma = 0.03

[contextual]
# strafingRollFactor (default: 10.0)
strafingRollFactor = 10.0
# forwardVelocityPitchFactor (default: 7.0)
forwardVelocityPitchFactor = 7.0
# verticalVelocityPitchFactor (default: 2.5)
verticalVelocityPitchFactor = 2.5
# horizontalVelocitySmoothingFactor (default: 1.0)
horizontalVelocitySmoothingFactor = 1.0
# verticalVelocitySmoothingFactor (default: 1.0)
verticalVelocitySmoothingFactor = 1.0

[features]
# headInertia (default: 0.5)
headInertia = 0.5
# dynamicFovAmount (default: 1.0)
dynamicFovAmount = 1.0
# speedBlurIntensity (default: 0.5)
speedBlurIntensity = 0.5
# shiftBreathingIntensity (default: 0.4)
shiftBreathingIntensity = 0.4
# fallingTiltIntensity (default: 1.0)
fallingTiltIntensity = 1.0
