# Configuration file

general {

    configdefault {
        S:defaultPacks <
            example.zip
            cubic-sun-moon-v1.8.5.zip
            shaded_font.zip
            Lower Shield.zip
            LowOnFire_1.12.zip
            SkyrimMusic.zip
            Enhanced Audio r7.zip
         >
    }

}


