# Configuration file

general {
    S:fpsColorMode=DYNAMIC
    I:hudPosX=275
    I:hudPosY=4
    B:show0001PercentLow=false
    B:showAvgTps=false
    B:showCpu=true
    B:showFps=true
    B:showOnePercentLow=true
    B:showPing=true
    B:showRam=true
    B:showTps=true
    B:showVerboseOverlay=true
    B:showVram=false
    I:verboseOverlayPosX=12
    I:verboseOverlayPosY=4
}


