# Configuration file

general {
    # If true, the user won't be able to bypass the warning and will be forced to quit the game
    B:forceCrashOnLowRam=false

    # Hexadecimal color for the warning title (Example: 0xFF5555)
    S:headerColorHex=0xFF5555

    # Recommended RAM in MB for an optimal experience
    I:recommendedRamMB=8192

    # Minimum required RAM in MB to play without warnings
    I:requiredRamMB=6000

    # Hexadecimal color for the warning text (Example: 0xFFFFFF)
    S:textColorHex=0xFFFFFF

    # URL to the tutorial on how to allocate more RAM to Minecraft
    S:tutorialUrl=https://github.com/R3ner/RamGuard/wiki/RAM%E2%80%90Allocation%E2%80%90Guide

    ##########################################################################################################
    # text translation
    #--------------------------------------------------------------------------------------------------------#
    # Text configurations for the warning screen.
    # You can use %MB% for the Megabytes value and %GB% for the Gigabytes value.
    ##########################################################################################################

    "text translation" {
        # Text for the continue button
        S:buttonContinue=Continuar de todos modos

        # Text for the quit game button
        S:buttonQuit=Salir del juego

        # Text for the tutorial button
        S:buttonTutorial=Cómo asignar más RAM

        # First line of the warning information
        S:infoLine1=El juego requiere un mínimo de %MB% MB (Aprox. %GB% GB) para funcionar correctamente.

        # Second line of the warning information
        S:infoLine2=Actualmente solo tienes %MB% MB (Aprox. %GB% GB) de RAM asignada.

        # Third line of the warning information
        S:infoLine3=Recomendamos asignar %MB% MB (Aprox. %GB% GB) para una experiencia óptima.

        # Warning window title
        S:windowTitle=¡Advertencia: RAM insuficiente!
    }

}


